<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CyberSoc</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>Cyber Soc Talks</h1>

    <table>
      <tr>
        <th>Date</th>
        <th>Title</th>
        <th>Presenter</th>
      </tr>
        <% @dates.each do |date| %>
          
        <% end %>
      </tr>
    </ta
  </body>
</html>